### Pandas
- 엑셀과 유사
- 파이썬 데이터분석을 위해 자주 사용하는 라이브러리
- row data를 정제하기 위해 사용 
- pandas 구조 
    - Series
    - DataFrame

In [24]:
import pandas as pd

# 시리즈 생성

# 무조건 컬럼으로 만들어줌(행x)
series = pd.Series([70,60,90])
series

0    70
1    60
2    90
dtype: int64

In [2]:
# 딕셔너리 에서 시리즈 생성
dict1 = {"a":1, "b":2, "c":3}

series = pd.Series(dict1)
series
# key 값이 index 로 동작

a    1
b    2
c    3
dtype: int64

In [3]:
# 리스트에서 시리즈 생성 + index 부여

series = pd.Series([70,60,90], index=["국어", "수학", "영어"])
series

국어    70
수학    60
영어    90
dtype: int64

In [4]:
print(series.index)
print(series.values)
print(series["국어"])
print(series.shape) # 행, 열

Index(['국어', '수학', '영어'], dtype='object')
[70 60 90]
70
(3,)

In [6]:
series.head(1)

국어    70
dtype: int64

In [5]:
series.tail(1)

영어    90
dtype: int64

In [8]:
# 수정 - 인덱스

series.index = ["미술","체육","음악"]
series

미술    70
체육    60
음악    90
dtype: int64

In [10]:
# 수정 - 값
series["체육"] = 75
print(series["체육"])

75

In [13]:
# 수정 - 데이터타입
# astype : 원본이 변하지 않는 일시적인 타입변환
# int64, int32, float64, float32, boolean, object

series.astype("float")

미술    70.0
체육    75.0
음악    90.0
dtype: float64

In [14]:
series

미술    70
체육    75
음악    90
dtype: int64

In [17]:
series1 = pd.Series(["1.1", "2.2", "3.3"])
series1

0    1.1
1    2.2
2    3.3
dtype: object

In [18]:
series1.astype("float")

0    1.1
1    2.2
2    3.3
dtype: float64

In [19]:
series1 = pd.Series(["test", "2.2", "3.3"])
series1.astype("float")

ValueError: could not convert string to float: 'test'

In [20]:
# 삭제 - 행 삭제

series

미술    70
체육    75
음악    90
dtype: int64

In [23]:
# del - 삭제(python 기본 함수)
del series["음악"]
series

미술    70
체육    75
dtype: int64