In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# # 한글폰트
# plt.rcParams["font.family"] = "Malgun Gothic"
# # - 요소 설정
# plt.rcParams["axes.unicode_minus"] = False
import koreanize_matplotlib

import warnings
warnings.simplefilter("ignore")

In [2]:
log_df = pd.read_csv("./resources/web.log",sep="\s", names=["ip", "session_id", "user_id","datetime","request","url","status","bytesize"])
log_df

,ip,session_id,user_id,datetime,request,url,status,bytesize
0,4.5.4.5,69de169f-6eed-4e4d-ae5b-ff997b8c889f,user89,[01/Dec/2019T00:47:11],GET,/product_list,200,2107
1,4.5.4.5,69de169f-6eed-4e4d-ae5b-ff997b8c889f,user89,[01/Dec/2019T00:51:21],GET,/product_detail,200,1323
2,3.3.3.3.,3d46aad9-17eb-4af1-bc54-6ca91d7f8f6c,user2,[01/Dec/2019T00:51:43],GET,/product_list,200,2616
3,1.0.1.0,57623182-b78b-4bdc-b977-a2b34612c6d1,user45,[01/Dec/2019T01:04:02],GET,/product_list,200,2303
4,3.3.3.3.,3d46aad9-17eb-4af1-bc54-6ca91d7f8f6c,user2,[01/Dec/2019T01:12:28],GET,/product_detail,200,1830
...,...,...,...,...,...,...,...,...
1285,1.0.0.3,ef2d546d-aa5d-4d9f-89be-70df7cb1082a,user4,[20/Dec/2019T12:08:14],GET,/checkout,200,1825
1286,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,[20/Dec/2019T12:23:02],GET,/product_list,200,2548
1287,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,[20/Dec/2019T12:56:12],GET,/product_detail,200,1250
1288,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,[20/Dec/2019T13:12:27],GET,/cart,200,2590
1289,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,[20/Dec/2019T13:12:28],GET,/checkout,200,1726

In [3]:
log_df.shape

(1290, 8)

In [4]:
log_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290 entries, 0 to 1289
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ip          1290 non-null   object
 1   session_id  1290 non-null   object
 2   user_id     1290 non-null   object
 3   datetime    1290 non-null   object
 4   request     1290 non-null   object
 5   url         1290 non-null   object
 6   status      1290 non-null   int64
 7   bytesize    1290 non-null   int64
dtypes: int64(2), object(6)
memory usage: 80.8+ KB

In [5]:
log_df.describe()

       status     bytesize
count  1290.0  1290.000000
mean    200.0  2010.652713
std       0.0   461.567919
min     200.0  1200.000000
25%     200.0  1615.750000
50%     200.0  2018.000000
75%     200.0  2408.750000
max     200.0  2798.000000

In [7]:
# datetime 날짜 형식
# [] 없애기
log_df["datetime"] = log_df["datetime"].apply(lambda date:date.replace("[","").replace("]",""))
# 날짜 형식으로 변환
log_df["datetime"] = pd.to_datetime(log_df["datetime"],format="%d/%b/%YT%H:%M:%S")
log_df

,ip,session_id,user_id,datetime,request,url,status,bytesize
0,4.5.4.5,69de169f-6eed-4e4d-ae5b-ff997b8c889f,user89,2019-12-01 00:47:11,GET,/product_list,200,2107
1,4.5.4.5,69de169f-6eed-4e4d-ae5b-ff997b8c889f,user89,2019-12-01 00:51:21,GET,/product_detail,200,1323
2,3.3.3.3.,3d46aad9-17eb-4af1-bc54-6ca91d7f8f6c,user2,2019-12-01 00:51:43,GET,/product_list,200,2616
3,1.0.1.0,57623182-b78b-4bdc-b977-a2b34612c6d1,user45,2019-12-01 01:04:02,GET,/product_list,200,2303
4,3.3.3.3.,3d46aad9-17eb-4af1-bc54-6ca91d7f8f6c,user2,2019-12-01 01:12:28,GET,/product_detail,200,1830
...,...,...,...,...,...,...,...,...
1285,1.0.0.3,ef2d546d-aa5d-4d9f-89be-70df7cb1082a,user4,2019-12-20 12:08:14,GET,/checkout,200,1825
1286,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,2019-12-20 12:23:02,GET,/product_list,200,2548
1287,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,2019-12-20 12:56:12,GET,/product_detail,200,1250
1288,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,2019-12-20 13:12:27,GET,/cart,200,2590
1289,1.0.1.0,63d1f1f5-3a1e-4fbd-819c-cef61af66a6a,user79,2019-12-20 13:12:28,GET,/checkout,200,1726